altair==5.3.0
boto3==1.35.18
datasets==3.3.2
datetime==5.5
XlsxWriter==3.2.0
#gcsfs==2023.10.0
httplib2==0.22.0
mammoth==1.8.0
nswcaselaw==0.1.4
numpy==1.26.4
openai==1.63.2
openpyxl==3.1.5
pandas==1.5.3
pandasai==2.2.15
pause==0.3
pdf2image==1.17.0
pillow==10.4.0
PyMuPDF==1.24.1
#PyPDF2==3.0.1
pypdf==5.0.0
PyYAML==6.0.1
pydeck==0.8.1b0
pytesseract==0.3.13
pyxlsb==1.0.10
#seaborn==0.13.2
selenium==4.30.0
#six==1.12.0
#st-gsheets-connection==0.1.0
#st-files-connection==0.1.0
#statsmodels==0.14.4
streamlit==1.40.2
#streamlit-ext==0.1.14
streamlit-extras==0.5.0
#streamlit-gsheets
#textract==1.6.5
tiktoken==0.7.0
undetected-chromedriver==3.5.5
webdriver-manager==4.0.2

