altair
numpy==1.26.4
pandas
pydeck 
pandas
datetime
streamlit
st-gsheets-connection
#streamlit-gsheets
streamlit-ext
nswcaselaw
openai
tiktoken
pause
textract
httplib2
PyPDF2
PyMuPDF
pillow
pytesseract
pdf2image
mammoth
pyxlsb
pandasai==2.2.5
PyYAML
openpyxl
#langchain
#langchain_experimental
#langchain_community
#statsmodels
#scikit-learn
#seaborn
