name: run BATCH_GET.py

on:
  workflow_dispatch:
  #push:
    #branches:
      #- main
  schedule:
    #- cron: '42 */6 * * *' # Run every 6 hour
    #- cron: '42 0,12 * * *' # At 00,12:42 UTC/19,20:42 Sydney time everyday
    #- cron: '47 12 * * 1,2,3,4,5' # At 12:42 UTC/20:42 Sydney time on workdays
    - cron: '47 12 * * 1,3,5' # At 12:42 UTC/20:42 Sydney time on Monday, Wednesday and Friday

#see https://crontab.guru

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' # install the python version needed

      - name: install python packages
        run: |
          #python -m pip install --upgrade pip'
          python -m pip install --upgrade pip==24.0

          pip install -r requirements.txt

      - name: execute BATCH_GET.py
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          COURTLISTENER_TOKEN: ${{ COURTLISTENER_TOKEN }}
          EMAIL_RECEIVER_WORK: ${{ secrets.EMAIL_RECEIVER_WORK }}
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          GPT_API_KEY: ${{ secrets.GPT_API_KEY }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python BATCH_GET.py
